<div id="app-container">
  <div id="more">
    <div id="more-title">
      <button id="back-button" routerLink="/route-screen"><img src="./assets/img/application/back-white.svg" alt="Back"></button>
      <h1>Gegevens</h1>
    </div>
    <div id="more-content">
      <div (click)="export()">
        <div class="option">
          <img src="../../../assets/img/application/export.png" alt="Exporteer gegevens">
          <h3>Exporteer gegevens</h3>
        </div>
      </div>
      <div *ngIf="false" (click)="import()">
        <div class="option">
          <img src="../../../assets/img/application/import.png" alt="Importeer gegevens">
          <h3>Importeer gegevens</h3>
        </div>
      </div>
      <div (click)="privacy()">
        <div class="option">
          <img src="../../../assets/img/application/warning.png" alt="Privacy">
          <h3>Privacy</h3>
        </div>
      </div>
      <div (click)="deleteUserData()">
        <div class="option">
          <img src="../../../assets/img/application/trashcan.png" alt="Verwijder gegevens">
          <h3>Verwijder gegevens</h3>
        </div>
      </div>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
