* {
  box-sizing: border-box;
}

html {
  background: url("./assets/img/bg-top.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #0e1e32;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

/* Tipografy */
@font-face {
  font-family: "Heavitas";
  src: url("./assets/fonts/Heavitas.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.text-center {
  text-align: center;
}

/* Colors */
.red {
  color: #f9454f;
}

.yellow {
  color: #fb9f4b;
}

.blue {
  color: #2dbcca;
}

.white {
  color: #ffffff !important;
}

.ping-ping-logo-long {
  width: 60%;
}

.background {
  /*  background-image: url("./assets/bg-top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  color: white;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.body {
  width: 100%;
  height: calc(100% - 110px);
}

.body .left {
  width: 40%;
  position: relative;
  float: left;
  height: 100%;
}

.body .left .phone1,
.body .left .phone2 {
  width: 70%;
  height: 80%;
  object-fit: contain;
  position: absolute;
}

.body .left .phone1 {
  top: 40px;
  left: 25%;
  z-index: 1;
}

.body .left .phone2 {
  top: 100px;
  left: 5%;
}

.body .right {
  width: 60%;
  float: left;
  position: relative;
  height: 100%;
}

.body .right .content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 100%;
  max-width: 600px;
}

.body .right .title {
  font-family: "Heavitas";
  font-size: 50px;
  line-height: 0.83;
  letter-spacing: 30px;
  color: #ffffff;
  text-align: left;
}

//.body .right .title span {
//  letter-spacing: -30px;
//}

.body .right .title span:last-child {
  padding-right: 50px;
}

.body .right .content p {
  display: block;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.56;
  width: 100%;
  text-align: justify;
  color: #a1a4ac;
}

.body .right .content .actions {
  margin-top: 40px;
  line-height: 25px;
}

.body .right .content .actions a {
  display: block;
}

.body .right .content .actions div {
  width: 50%;
  float: left;
}

.body .right .content .actions button {
  width: 310px;
  height: 42px;
  padding: 0;
  font-size: 18px;
}

.body .right .content .actions .video {
  padding-top: 10px;
}

.body .right .content .actions .video img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: inline-block;
  float: left;
  margin-left: 50px;
}

.body .right .content .actions .video span {
  display: inline-block;
  text-align: left;
  font-family: "Roboto";
  font-size: 16px;
  margin-left: -60px;
  margin-top: 3px;
}

.show-on-mobile {
  display: none;
}

/* The side navigation menu */
.mobile-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: -32px;
  background-color: #0e1e32;
  overflow-x: hidden;
  transition: 0.5s;
  border-left: 2px solid #f69f30;
  padding: 15px;
  color: white;
}

.mobile-menu .closebtn {
  position: absolute;
  top: 0;
  right: 45px;
  font-size: 36px;
  margin-left: 50px;
}

.mobile-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 30px;
}

.mobile-menu li {
  padding: 10px 5px;
  font-family: "Heavitas";
  text-align: right;
}

.mobile-menu .logo {
  padding-left: 50px;
  margin-top: 25px;
  margin-bottom: 20px;
}

/* What is it */

#what-is-it {
  background: #ffffff;
}

/* App */

#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#app-title {
  width: 100%;
  height: fit-content;
  display: block;
  font-size: 2.5em;
}

.border-rounded {
  border-radius: 20px;
  border: none;
}

.container {
  padding: 0 10px;
}

.page-content {
  max-width: 900px;
  padding: 30px 40px;
  color: #0e1e32;
  margin: 50px auto;
  font-family: "Raleway";
  line-height: 1.7em;
}

.page-content h1 {
  font-family: "Heavitas";
}

/* Mobile */
@media only screen and (max-width: 576px) {
  html {
    background-position: 0 0;
  }

  .show-on-mobile {
    display: inherit;
  }

  .header .logo,
  .body .left,
  .body .right {
    width: 100%;
  }

  .body .right .content {
    position: inherit;
    transform: inherit;
    top: inherit;
    left: inherit;
    padding: 20px;
  }

  .body .right .content span {
    display: inline;
  }

  .body .right .content .welkom {
    margin-bottom: 0;
  }

  .ping-ping {
    margin-top: 0;
  }

  .body .right .content .title > span:nth-child(4) {
    padding-right: 20px;
  }

  .body .right .title span:last-child {
    padding-right: 0;
  }

  .body .right .content .title {
    font-family: "Heavitas";
    font-size: 2.2em;
    line-height: 1.11;
    color: #ffffff;
    letter-spacing: 3px !important;
    padding: 0 5px;
    text-align: center;
  }
  .body .right .content .title .blue,
  .body .right .content .title .red,
  .body .right .content .title .yellow {
    letter-spacing: -12px !important;
  }

  .body .right .content p {
    text-align: center;
  }

  .actions div {
    width: 100% !important;
  }

  .body .right .content .actions button {
    width: 290px;
  }

  .body .right .content .actions .video {
    margin-top: 15px;
  }

  .hamburger i {
    position: absolute;
    top: 24px;
    right: 20px;
    font-size: 22px;
  }

  .hamburger i {
    width: 18px;
    height: 12px;
    color: #ffffff;
  }
}
