<div class="header">
  <div class="logo">
    <a routerLink="/"><img src="./assets/img/ping-ping-logo.svg"></a>
  </div>
  <div class="menu">
    <ul>
      <li><a routerLink="/wat-is-het">Wat is het?</a></li>
      <li>Jouw route</li>
      <li>Voorwaardes</li>
      <li>Support</li>
      <li>
        <a href="https://sketch.cloud/s/49zPo/4aPa24A/play" target="_blank"><button>Aan de slag</button></a>
      </li>
    </ul>
  </div>
  
  <div class="hamburger show-on-mobile">
    <i class="fas fa-bars" onclick="openNav()"></i>
  </div>
</div>
