#ping-ping-logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
  background: #0d2036;
  box-sizing: border-box;

  img {
    width: 150px;
    height: auto;
  }
}
