#ping-ping-logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
  background: #0d2036;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  img:nth-child(2) {
    width: 150px;
    height: auto;
    z-index: 2;
  }

  #blue-oval,
  #red-oval {
    position: absolute;
    z-index: 1;
  }

  #blue-oval {
    top: -160px;
    left: -160px;
  }

  #red-oval {
    bottom: -160px;
    right: -160px;
  }
}
