<div id="app-container">
  <div id="delete-data-confirmation">
    <img id="blue-oval" src="./assets/img/application/oval-blue.svg" alt="Blue oval">
    <img id="red-oval" src="./assets/img/application/oval-red.svg" alt="Red oval">
    <div id="top-bg"></div>
    <div id="delete-data-confirmation-content">
      <h1>G e l u k t !</h1>
      <div id="icon">
        <img src="./assets/img/application/thumbs-up-brown.png" alt="Thumbs up">
      </div>
      <p>
        Je gegevens zijn nu verwijderd uit ons systeem!
      </p>
      <a class="button button-orange" href="/">Opnieuw beginnen</a>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
