@font-face {
  font-family: "Heavitas";
  src: url("../../../assets/fonts/Heavitas.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../../../assets/fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.background {
  background: url("../../../assets/img/bg-top.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #0e1e32;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.header {
  display: inline-block;
  height: 50px;
  margin-top: 56px;
  width: 100%;
}

.header .logo {
  width: 20%;
  float: left;
}

.header .logo img {
  height: 44px;
}

.header .menu {
  width: 80%;
  text-align: right;
  float: left;
  margin-bottom: 5em;
}

.header .menu ul {
  margin: 0;
  list-style: none;
}

.header .menu li {
  display: inline-block;
  font-family: "Heavitas";
  font-size: 14px;
  margin-left: 50px;
  cursor: pointer;
}

.header .menu ul li a {
  border-radius: 5px;
  padding-top: 5px;
}

.header .menu ul .current {
  border-top: 7px solid #fa4f59;
}

.header .menu ul .current2 {
  border-top: 7px solid #fb9f00;
}

.header .menu ul .current3 {
  border-top: 7px solid #2dbcca;
}

.header .menu ul .current4 {
  border-top: 7px solid #fa4f59;
}

.body {
  width: 100%;
  height: calc(100% - 110px);
}

.body .left {
  width: 40%;
  position: relative;
  float: left;
  height: 100%;
}

.body .left .phone1,
.body .left .phone2 {
  width: 70%;
  height: 80%;
  object-fit: contain;
  position: absolute;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.body {
  width: 100%;
  height: calc(100% - 110px);
}

.body .left {
  width: 40%;
  position: relative;
  float: left;
  height: 100%;
}

.body .left .phone1,
.body .left .phone2 {
  width: 70%;
  height: 80%;
  object-fit: contain;
  position: absolute;
}

.body .left .phone1 {
  top: 40px;
  left: 25%;
  z-index: 1;
}

.body .left .phone2 {
  top: 100px;
  left: 5%;
}

.body .left .phonevideo {
  width: 120%;
  object-fit: contain;
  position: absolute;
  z-index: 1;
  top: 20%;
  margin-right: 10%;
}

.body .right {
  width: 50%;
  text-align: center;
  float: left;
  position: relative;
  height: 100%;
}

.body .right .content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 100%;
  max-width: 600px;
  max-height: 500px;
}

.body .right .title {
  font-family: "Heavitas";
  font-size: 50px;
  line-height: 0.83;
  letter-spacing: 30px;
  color: #ffffff;
  text-align: left;
}

.body .right .title span:last-child {
  padding-right: 50px;
}

.body .right .content p {
  display: block;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.56;
  width: 100%;
  text-align: justify;
  color: #a1a4ac;
}

.body .right .content .actions {
  margin-top: 20px;
  line-height: 25px;
}

.body .right .content .actions a {
  display: block;
}

.body .right .content .actions div {
  width: 36%;
  float: left;
}

.body .right .content .actions div:first-of-type,
.body .right .content .actions div:nth-of-type(3) {
  width: 32%;
}

.body .right .content .actions button {
  width: 95%;
  height: 42px;
  padding: 0;
  font-size: 18px;
  font-family: Raleway;
  outline: none;
}

button {
  border-radius: 23px;
  background-color: #fb9f00;
  border: none;
  color: white;
  min-width: 135px;
  font-family: "Roboto";
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button:hover {
  background-color: #fb9f4b;
}

a {
  color: white;
  text-decoration: none;
}

/* Colors */
.red {
  color: #f9454f;
}

.yellow {
  color: #fb9f4b;
}

.blue {
  color: #2dbcca;
}

@media only screen and (max-width: 1050px) {
  .flexbox {
    display: block;
  }
  .flexmain {
    display: block;
  }
  .flexmain .contentlinks,
  .flexmain .contentrechts {
    width: 100%;
    margin: auto;
  }

  .flexbox .contentlinks img {
    margin-top: 0;
  }

  .flexbox .contentlinks {
    width: 100%;
    max-width: 20em;
  }

  .flexbox p {
    margin-bottom: 5em;
  }

  .body .right .content {
    margin: auto;
  }

  .body .right .content .actions .video {
    margin: 1em 0 0 0;
  }

  .contentrechts .reveal h2 {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 1050px) {
  .show-on-mobile {
    display: inherit;
  }

  .header .logo,
  .body .left,
  .body .right {
    width: 100%;
  }

  .header {
    margin-top: 18px;
    text-align: center;
  }

  .header .menu {
    display: none;
  }

  .body .right .content {
    position: inherit;
    transform: inherit;
    top: inherit;
    left: inherit;
  }

  .body .right .content span {
    display: inline;
  }

  .body .right .content .welkom {
    margin-bottom: 0;
  }

  .ping-ping {
    margin-top: 0;
  }

  .body .right .content .title > span:nth-child(4) {
    padding-right: 5px;
  }

  .body .right .title span:last-child {
    padding-right: 0;
  }

  .body .right .content .title {
    font-family: "Heavitas";
    font-size: 2.2em;
    line-height: 1.11;
    color: #ffffff;
    letter-spacing: 3px !important;
    padding: 0 5px;
    text-align: center;
  }

  .body .right .content p {
    text-align: center;
  }

  .actions div {
    width: 100% !important;
  }

  .body .right .content .actions button {
    width: 250px;
  }

  .body .right .content .actions button {
    margin-top: 15px;
  }

  .hamburger i {
    position: absolute;
    top: 24px;
    right: 20px;
    font-size: 22px;
  }

  .hamburger i {
    width: 18px;
    height: 12px;
    color: #ffffff;
  }

  .section {
    margin-top: 10em;
    margin-bottom: 5em;
  }

  .flexbox .contentrechts .metropolis {
    margin-top: -4em;
  }
}
