#featured {
  height: calc(100% - 154px);
  display: flex;

  .left {
    width: 50%;
    height: 100%;
    position: relative;

    .phone1,
    .phone2 {
      width: 70%;
      height: 80%;
      position: absolute;
      max-width: 295px;
      object-fit: contain;
    }

    .phone1 {
      top: 0px;
      left: 25%;
      z-index: 1;
    }

    .phone2 {
      top: 60px;
      left: 10%;
    }
  }

  .right {
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    top: -70px;

    .ping-ping-logo-long {
      width: 60%;
    }

    p {
      margin: 30px 0;
      font-family: "Raleway";
      font-size: 18px;
      line-height: 1.56;
      text-align: justify;
      color: #a1a4ac;
    }

    #actions {
      .button-orange,
      .cta-video {
        width: 50%;
        float: left;
        display: block;
        box-sizing: border-box;
      }

      .cta-video {
        font-family: "Roboto";

        img {
          margin-right: 15px;
          position: relative;
          top: 5px;
        }

        span {
          position: relative;
          top: -5px;
        }
      }
    }
  }
}

@media all and (max-width: 950px) {
  .show-on-mobile {
    display: inherit;
  }

  #featured {
    text-align: center;
    display: inherit;

    .left,
    .right {
      width: 100%;
      float: none;
    }

    .left {
      width: 53%;
      margin: 0 auto 50px auto;

      .phone1 {
        left: initial;
        right: 0;
      }

      .phone2 {
        left: 0;
        right: initial;
      }
    }

    .right {
      .title {
        color: #ffffff;
      }

      .ping-ping-logo-long {
        width: 50%;
      }

      #actions {
        width: 90%;
        margin: 0 auto 30px auto;
        overflow: hidden;

        .button {
          max-width: initial;
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  #featured {
    .left {
      width: 80%;
    }

    .right {
      #actions {
        width: 100%;
        margin: 0 0 30px 0;

        a {
          width: 100% !important;
          margin-bottom: 10px;
        }
      }
    }
  }
}
