<div class="container">
  <app-header></app-header>
  <div id="featured">
    <div class="left">
      <img class="phone1" src="./assets/img/iPhone_X1.png">
      <img class="phone2" src="./assets/img/iPhone_X2.png">
    </div>
    <div class="right">
      <div>
        <h2 class="show-on-mobile title">WELKOM OP</h2>
        <img class="ping-ping-logo-long" src="./assets/img/ping-ping-logo-long.svg" alt="Ping Ping">
        <p>
          Welkom op Ping Ping, op deze website gaan we er samen voor
          zorgen dat jij nog wat centen aan het einde van de maand overhoudt
          om leuke dingen te doen!
        </p>
        <div id="actions">
          <a class="button button-orange button-lg" href="https://sketch.cloud/s/49zPo/4aPa24A/play" target="_blank">Aan de slag</a>
          <a class="cta-video text-center" href="https://www.youtube.com/watch?v=UnNXgRd8Ze0" target="_blank">
            <img src="./assets/img/Shape.svg">
            <span>Kijk hoe het werkt!</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
