<div id="app-container">
  <div id="route-confirmation">
    <div id="top-bg"></div>
    <div id="route-confirmation-content">
      <h1>L e k k e r !</h1>
      <div id="thumbs-up">
        <img src="../../assets/img/application/thumbs-up.png" alt="Thumbs up">
      </div>
      <p>
        Met de antwoorden die jij hebt gegeven hebben wij voor jou een persoonlijke route samengesteld.
      </p>
      <p>
        Bekijk wat jij moet doen om je basis op orde te hebben!
      </p>
      <a class="button button-orange" href="/route-screen">Naar mijn route</a>
    </div>
    <div class="progress-bar">
      <div></div>
    </div>
  </div>
</div>
