<div id="app-container">
  <div #routeScreen id="route-screen">
    <img id="blue-oval" src="./assets/img/application/oval-blue.svg" alt="Blue oval">
    <img id="red-oval" src="./assets/img/application/oval-red.svg" alt="Red oval">
    <div id="route-screen-title">
      <h1>Je route!</h1>
      <a href="/route-overview">Bekijk je route</a>
	</div>
    <div #horizontalScroll id="route-cards">
      <div  id="route-cards-container">
		<div #routeCards *ngFor="let task of tasks; let index = index"
             class="route-card-container"
             [ngClass]="{
               'completed-task': task.status == 'completed',
               'current-task': currentTask == index,
               'upcoming-task': task.status == 'upcoming'
			   }">
				<div  class="route-card" (click)="goToTask(task.task)">
					<div class="task-header">
					<div class="task-icon">
						<img src="{{ task.card_icon }}">
					</div>
					<div class="task-points">
						{{ task.city_points_value }} City pings
					</div>
					</div>
					<div class="task-description">
					<h2>{{ task.card_description }}</h2>
					</div>
				</div>
				<div class="task-bullet">
					<div></div>
					<div class="bullet" [ngClass]="{ 'active': currentTask == index }">
					<img src="./assets/img/application/task-bullet.svg" alt="Task bullet">
					</div>
					<div></div>
				</div>
        </div>
      </div>
    </div>
    <div id="task-description">
      <h2>{{ tasks[currentTask].card_description }} <i (click)="goToTips()" class="fas fa-lightbulb"></i></h2>
      <p>
        {{ tasks[currentTask].brief_description }}
      </p>
      <a class="button button-orange" (click)="goToTask(tasks[currentTask].task)">{{ tasks[currentTask].info_b }}</a>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
