#application-container {
  background: url("../../../assets/img/application/welcome-screen-bg.jpg") 75% 100% no-repeat;
  background-size: 1100px;

  #lines {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;

    div {
      width: 100%;
      height: 3px;
      border-radius: 10px;
    }

    div:nth-child(1) {
      background: #f9454f;
      margin-right: 6px;
    }

    div:nth-child(2) {
      background: #fb9f00;
      margin-left: 6px;
      margin-right: 6px;
    }

    div:nth-child(3) {
      background: #2dbcca;
      margin-left: 6px;
    }
  }

  #welcome-container {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 30px;
    z-index: 2;

    h3 {
      font-size: 2.2em;
      line-height: 0.7em;
      margin-top: 0;
      margin-bottom: 0;
      font-family: "Heavitas";
      color: #ffffff;
    }

    img {
      width: 120px;
      margin-bottom: 25px;
    }

    a:not(.button) {
      font-family: "Raleway";
      display: inline-block;
      margin-top: 15px;
      font-size: 0.9em;
      color: #ffffff;
      cursor: pointer;
    }

    .button {
      font-size: 1.2em;
      cursor: pointer;
      margin-bottom: 10px;
      padding: 13px;
      border-radius: 30px;
      font-family: "Raleway";
    }

    .button-white {
      background: #ffffff;
      color: #fb9f00;
      border: 1px solid #fb9f00;
      margin-top: 50px;
      margin-bottom: 20px;
    }
  }

  #gradient {
    background: linear-gradient(to top, #000000e3, #fff0);
    background: -webkit-linear-gradient(to top, #000000e3, #fff0);
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}
