<div id="application-container" class="fade-in">
  <div id="lines">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div id="welcome-container" class="text-center">
    <img src="./assets/img/ping-ping-logo.svg" alt="Ping Ping">
    <h3>Welkom op</h3><br>
    <h3>Ping Ping!</h3>
    <a class="button button-orange button-white" routerLink="/what-is-pingping">Wat is Ping Ping?</a>
    <a class="button button-orange" routerLink="/route-questionnaire">Fix je eigen route</a>
    <a (click)="requestDefaultRoute()">Start zonder eigen route</a>
  </div>
  <div id="gradient"></div>
</div>
