<div id="app-container">
  <div id="tips">
    <img id="blue-oval" src="./assets/img/application/oval-blue.svg" alt="Blue oval">
    <img id="red-oval" src="./assets/img/application/oval-red.svg" alt="Red oval">
    <div id="tips-title">
      <button id="back-button" routerLink="/route-screen"><img src="./assets/img/application/back.svg" alt="Back"></button>
      <h1>Tips</h1>
    </div>
    <div id="tips-content">
      <h3>Tip 1</h3>
      <p>
        Ben je student? Bekijk eens wat je allemaal voor kortingen kan krijgen. Spotify is bijvoorbeeld voor studenten maar € 4,- i.p.v € 10,- per maand.
      </p>
      <h3>Tip 2</h3>
      <p>
        Ben je student? Bekijk eens wat je allemaal voor kortingen kan krijgen. Spotify is bijvoorbeeld voor studenten maar € 4,- i.p.v € 10,- per maand.
      </p>
      <div id="message">
        Kom je er niet uit? vraag het hier
      </div>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
