<div id="app-container">
  <div id="tips">
    <img id="blue-oval" src="./assets/img/application/oval-blue.svg" alt="Blue oval">
    <img id="red-oval" src="./assets/img/application/oval-red.svg" alt="Red oval">
    <div id="tips-title">
      <button id="back-button" routerLink="/route-screen"><img src="./assets/img/application/back.svg" alt="Back"></button>
      <h1>Tips</h1>
    </div>
    <div id="tips-content">
      <h3>Hoeveel abonnementen heb jij?</h3>
      <p>
        Automatische afschrijvingen kunnen handig zijn, maar ook gevaarlijk! Als je niet gebruik maakt van abonnementen zoals de sportschool, swapfiets of zoiets, stop dan je abonnement. Zo loopt het niet door en bespaar je geld.
      </p>
      <h3>Zet je eigen goal om te sparen!</h3>
      <p>
        Een handige manier om te sparen; de 52 weken challenge! Spaar in de eerste week 1euro en spaar vervolgens elke week een euro meer. Hou je dit 52 weken vol dan heb je op een makkelijke manier 1378 euro gespaard in een jaar!
      </p>
      <h3>Spaar je eigen risico</h3>
      <p>
        Ga bij je Zorgverzekeraar na of je je eigen risico verspreid over het jaar kunt betalen. Moet je gebruik maken van je verzekering omdat je ziektekosten hebt, dan sta je niet voor verassingen. Maak je geen gebruik van ziektekosten dan kun je je betaalde eigen risico over dat jaar terugkrijgen! Een fijn spaarpotje!
      </p>
      <div id="message">
        Kom je er niet uit? vraag het hier.
      </div>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
