<div id="app-container">
  <div id="import-confirmation">
    <div id="top-bg"></div>
    <div id="import-confirmation-content">
      <h1>C h e c k !</h1>
      <div id="icon">
        <img src="./assets/img/application/thumbs-up.png" alt="Tick">
      </div>
      <p>
        Je gegevens zijn geïmporteerd, je kunt nu verder gaan waar je mee bezig was!
      </p>
      <a class="button button-orange" href="/route-screen">Terug naar mijn route</a>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
