<div id="app-container">
  <div id="route-overview">
    <img id="blue-oval" src="./assets/img/application/oval-blue.svg" alt="Blue oval">
    <img id="red-oval" src="./assets/img/application/oval-red.svg" alt="Red oval">
    <div id="route-overview-title">
      <button *ngIf="pendingTasks" id="back-button" routerLink="/route-screen"><img src="./assets/img/application/back.svg" alt="Back"></button>
      <h1>Je route!</h1>
    </div>
    <div id="route-overview-list">
      <h2>Fiks de basis</h2>
      <div id="tasks-container">
        <div *ngFor="let task of tasks" class="task">
          <div class="task-path">
            <div [ngClass]="{ 'completed': task.complete }"></div>
            <img *ngIf="!task.complete" src="../../../assets/img/application/task-bullet.svg" alt="Task bullet">
            <img *ngIf="task.complete" src="../../../assets/img/application/task-bullet-completed.svg" alt="Task bullet">
          </div>
          <div class="task-title">
            <h3>{{ task.card_description }}</h3>
          </div>
        </div>
        <div class="reward task">
          <div class="task-path">
            <div></div>
            <img src="../../../assets/img/application/badge.svg" alt="Badge">
          </div>
          <div class="task-title">
            <h3>100 City Points</h3>
          </div>
        </div>
        <div *ngIf="!tasks.length" id="final-message">
          <h3 class="text-center">Nice!</h3>
          <p>
            Het lijkt erop dat je alle stappen doorlopen hebt, jouw basis is gefikst, lekker bezig!
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
