#delete-data {
  padding: 30px;

  #delete-data-title {
    h1 {
      font-family: 'Heavitas', Arial;
      font-size: 2.6em;
      margin: 0;
    }
  }

  .text-center {
    font-size: 1.7em;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 20px;
    font-size: 1em;
  }

  .button {
    width: 100%;
    font-family: 'Raleway', Arial;
    font-size: 1.1em;
  }

  .button-red {
    background: #f8434e;
  }
}
