<div id="task-popup-container">
  <div id="task-popup">
    <button id="close-button" (click)="closePopup()"><img src="./assets/img/application/close.svg" alt="Close"></button>
    <div class="text-center">
      <h2 id="title"><span>Top!</span> je hebt {{ task.city_points_value }} City Pings verdiend</h2>
      <img src="./assets/img/application/money.svg" alt="Money">
      <p id="city-pings">
        <img src="./assets/img/application/group.svg" alt="City Pings"> {{ task.city_points_value }}
      </p>
      <h3 class="grey-text">City Pings</h3>
    </div>
    <div id="completion-text">
      <p>
        Gefeliciteerd, je hebt {{ task.city_points_value }} City Pings verdiend. Hierdoor kan je meteen je eerste reward verzilveren! Ga naar “claim je reward".
      </p>
    </div>
    <a class="claim-reward" (click)="goToRewards()">Bekijk mijn city pings</a>
  </div>
</div>
