$primary: #fb9f4b;
$secondary: #fb9f4b;
$light: #f1f1f1;
$dark: #0d2036;
$enable-responsive-font-sizes: true;
$text-color: #0d2036;

$font-size-title-small: 0.875rem;
$font-size-title-medium: 1.25rem;
$font-size-title-large: 2.25rem;

$font-size-regular: 1rem;

$font-logo-large: 1.6rem;
$font-logo-small: $font-size-title-small;