#app-container {
  margin-bottom: 0;
  height: 100%;
}

#privacy {
  padding: 20px 20px 80px 20px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;

  #blue-oval,
  #red-oval {
    position: absolute;
  }

  #blue-oval {
    width: 397px;
    top: 400px;
    left: -200px;
  }

  #red-oval {
    top: 23px;
    right: -274px;
  }

  .back-button {
    background: none;
    border: none;
    margin: 0;
    padding: 5px;
    cursor: pointer;
  }

  h1 {
    font-family: 'Heavitas', Arial;
    font-size: 2em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 29px;
    margin-top: 10px;
  }

  h3 {
    font-family: 'Heavitas', Arial;
    text-align: center;
  }

  #top-bg {
    width: 100%;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    background: #0d2036;
    z-index: -1;
  }

  #privacy-content {
    position: relative;
    z-index: 2;

    & > p {
      padding: 0 20px;
      margin-bottom: 20px;
    }

    #icon {
      max-width: 165px;
      padding: 28px 25px 38px 25px;
      border-radius: 8px;
      box-sizing: border-box;
      text-align: center;
      box-shadow: 2px 2px 6px 1px rgba(166, 166, 166, 0.5);
      background-color: #ffffff;
      margin: 0 auto 39px auto;
    }
  }

  .dropdown {
    margin-top: 50px;
    border-radius: 25px;
    box-shadow: 2px 2px 6px 0 rgba(203, 203, 203, 0.76);
    border: solid 1px #e4e4e4;
    background: #ffffff;

    & > span {
      display: block;
      padding: 15px;
      font-family: 'Heavitas', Arial;
      text-align: center;
      color: #0d2036;

      img {
        max-width: 14px;
        position: relative;
        left: 20px;
      }
    }

    .dropdown-content {
      padding: 20px;

      a {
        color: #60aaff;
      }

      h3 {
        margin: 40px 0;
      }

      p {
        margin-bottom: 10px;

        &.text-strong {
          font-weight: 700;
        }
      }
    }
  }

  .button {
    margin-top: 75px;
    box-shadow: 0 2px 6px 0 rgba(203, 203, 203, 0.4);
  }

  .button-orange {
    width: 100%;
    margin-top: 30px;
  }
}
