<div id="app-container">
  <div id="privacy">
    <img id="blue-oval" src="./assets/img/application/oval-blue.svg" alt="Blue oval">
    <img id="red-oval" src="./assets/img/application/oval-red.svg" alt="Red oval">
    <div id="top-bg"></div>
    <div id="privacy-content">
      <button *ngIf="isLoggedIn" class="back-button" routerLink="/more"><img src="./assets/img/application/back-white.svg" alt="Back"></button>
      <button *ngIf="!isLoggedIn" class="back-button" routerLink="/welcome"><img src="./assets/img/application/back-white.svg" alt="Back"></button>
      <h1>P R I V A C Y</h1>
      <div id="icon">
        <img src="../../assets/img/application/privacy.png" alt="Privacy">
      </div>
      <p>
        Om Ping Ping optimaal te laten functioneren verzamelen wij door het proces heen informatie. Klik hieronder om meer kennis te krijgen over welke informatie wij verzamelen en wat wij met deze informatie doen.
      </p>
      <div class="dropdown">
        <span (click)="openDropdown()">Privacy policy <img src="../../assets/img/application/arrow-left.svg" alt="Left arrow"></span>
        <div class="dropdown-content" *ngIf="open">
          <p>We staan voor gelijkwaardigheid en gelijke kansen voor alle jongeren.</p>
          <p>Saamhorigheid is ons uitgangspunt.</p>
          <p>Dit betekent dat we elkaar kunnen en willen helpen.</p>
          <p>We spreken dan over samenredzaamheid.</p>
          <p>We pakken sociaal belangrijke maatschappelijke vragen op.</p>
          <p>De oplossing voor deze vraagstukken vinden we in de mensen zelf.</p>
          <p>Code, data en tech kunnen oplossingen voor deze vraagstukken sneller realiseren.</p>
          <p>Als we daarvoor jouw gegevens nodig hebben, zijn dat nooit meer gegevens dan noodzakelijk.</p>
          <p>Natuurlijk heb je het recht om jouw gegevens te verwijderen en kunnen we je altijd vertellen waarom de app een bepaalde route voor jou adviseert.</p>
          <p>We slaan zo weinig mogelijk gegevens op en alleen met jouw toestemming (die je altijd weer gewoon kan intrekken natuurlijk).</p>
          <p>Jouw toestemming geef je door het gebruik van de app.</p>
          <p>Maar je kan de app ook gebruiken zonder persoonlijke gegevens te delen.</p>
          <p>Je krijgt dan geen persoonlijke route. Logisch toch? Oh ja, we verkopen of geven je gegevens niet aan een derde.</p>
          <p>Natuurlijk willen we de APP steeds verbeteren en willen we weten of Ping Ping jouw inderdaad helpt om je financiële zaken te regelen. Zo niet: dan moeten we iets anders bedenken.</p>
          <p>Hiervoor analyseren we jouw gebruik. We bekijken bijvoorbeeld hoe vaak je de app gebruikt en of het lukt om de route af te maken. Zo proberen wij te begrijpen of de app werkt en als het nodig is te verbeteren. Deze gegevens slaan we zonder jouw persoonsgegevens op.</p>
        </div>
      </div>
      <button *ngIf="!isLoggedIn" class="button button-orange" (click)="proceedRoute()">Accepteer</button>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
