<div id="app-container">
  <div id="what-is-pingping">
    <button id="back-button" routerLink="/welcome"><img src="./assets/img/application/back-white.svg" alt="Back"></button>
    <div id="video-player">
      <iframe width="560" src="https://www.youtube.com/embed/ZG0vCfivpQ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div id="description">
      <h1 class="text-center">
        Wat is<br>
        Ping Ping?
      </h1>
      <p class="text-center">
        <img src="./assets/img/application/man-shrugging.png" alt="Man Shrugging">
        <img src="./assets/img/application/woman-shrugging.png" alt="Woman Shrugging">
      </p>
      <p class="text-center">
        Wij maken een persoonlijk routeplan die je gaat helpen je (financiële) basis op orde te hebben.
      </p>
      <p class="text-center">
        Dan hoef je daar geen zorgen meer over te maken en kan je leuke dingen doen.
      </p>
      <div id="actions" class="text-center">
        <a class="button button-orange" (click)="requestRoute('custom')">Fiks je eigen route</a>
        <a (click)="requestRoute('default')">Start zonder eigen route</a>
        <a (click)="import()">Heb je al een route? Importeer je gegevens</a>
      </div>
    </div>
  </div>
</div>
