<div id="app-container">
  <div id="what-is-pingping">
    <button id="back-button" routerLink="/welcome"><img src="./assets/img/application/back-white.svg" alt="Back"></button>
    <div id="video-player">
      <img src="./assets/img/application/play.svg" alt="Play">
    </div>
    <div id="description">
      <h1 class="text-center">
        Wat is<br>
        Ping Ping?
      </h1>
      <p class="text-center">
        <img src="./assets/img/application/man-shrugging.png" alt="Man Shrugging">
        <img src="./assets/img/application/woman-shrugging.png" alt="Woman Shrugging">
      </p>
      <p class="text-center">
        Wij maken een persoonlijke routeplan die je gaat helpen om geld te bespraren of zelf soms geld gratis te ontvangen!
      </p>
      <div id="actions" class="text-center">
        <a href="/route-questionnaire" class="button button-orange">Fix je eigen route</a>
        <a href="#">Start zonder eigen route</a>
      </div>
    </div>
  </div>
</div>
