#app-container {
  margin-bottom: 52px;

  p, li {
    font-family: "Raleway", Arial;
    font-size: 1em;
    line-height: 1.6em;
    color: #0d2036;
    margin: 0;
  }

  .button {
    margin-top: 40px;
    padding: 16px 20px;
    font-family: "Heavitas";
    font-size: 1em;
    border-radius: 50px;
    background: #fb9f4b;
    font-weight: 100;
  }
}
