select {
  padding: 20px 35px 20px 25px;
  border: 1px solid #0d2036;
  font-family: "Raleway";
  text-align: center;
  border-radius: 5px;
  font-size: 1em;
  appearance: none;
  background: url('./assets/img/application/arrow-down.svg') no-repeat calc(100% - 12px) 50%;

  &:focus {
    background: url('./assets/img/application/arrow-up.svg') no-repeat calc(100% - 12px) 50%;
  }

  &:first-child {
    margin-right: 8px;
  }

  &:nth-child(2) {
    margin-left: 3px;
    margin-right: 3px;
  }

  &:last-child {
    margin-left: 8px;
  }
}

.select-option {
  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }

  label {
    color: #fb9f4b;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 10px;
    border: solid 1px #fb9f4b;
    box-shadow: 0 2px 6px 0 rgba(203, 203, 203, 0.4);
    transition: all 0.1s ease-in-out;
    border-radius: 30px;
    font-family: "Raleway";
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  label:hover {
    cursor: pointer;
  }

  input:checked + label {
    color: #ffffff;
    background-color: #fb9f4b;
    font-weight: 700;
  }
}
