#task-description-content {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Heavitas', Arial;
  }

  a {
    color: #1989c8;
  }

  p {
    margin-bottom: 15px;
    text-align: justify;
  }

  ul {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;

    li {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0 0 0 25px;
      line-height: 1.5em;
      background: url("./assets/img/application/oval.svg") 0 6px no-repeat;
    }
  }
}
