<div id="application-container" class="fade-in">
  <form action="#" [formGroup]="questionsForm">
    <!-- Question template -->
    <div class="question">
      <div class="question-navigation navigation-back">
        <button class="back-button" routerLink="/route-questionnaire/"><img src="./assets/img/application/back.svg" alt="Back"></button>
      </div>
      <h1 class="question-title">Wat is je geboorte datum?</h1>
      <div class="question-icon text-center">
        <img src="./assets/img/application/cake.png">
      </div>
      <!-- Date question type -->
      <div *ngIf="questionPosition == '1'" class="question-content text-center">
        <select formControlName="birthDay" required>
          <option value="dag" [selected]="true" disabled>Dag</option>
          <option *ngFor="let i of [].constructor(31); let index = index"
                  value="{{ index + 1 }}">
            {{ index + 1 }}
          </option>
        </select>
        <select formControlName="birthMonth" required>
          <option value="maand" [selected]="true" disabled>Maand</option>
          <option *ngFor="let i of [].constructor(12); let index = index"
                  value="{{ index + 1 }}">
            {{ index + 1 }}
          </option>
        </select>
        <select formControlName="birthYear" required>
          <option value="jaar" [selected]="true" disabled>Jaar</option>
          <option *ngFor="let i of years"
                  value="{{ i }}">
            {{ i }}
          </option>
        </select>
      </div>
      
      <!-- Option question type -->
      <div *ngIf="questionPosition == '2'" class="question-content text-center">
        <div class="select-option">
          <input id="radio1"
                 type="radio"
                 name="answer"
                 formControlName="answer"
                 value="Ja ik heb een DigiD"
                 required
                 class="text-center">
          <label for="radio1">Ja ik heb een DigiD</label>
          <input id="radio2"
                 type="radio"
                 name="answer"
                 formControlName="answer"
                 value="Nee nog niet"
                 required
                 class="text-center">
          <label for="radio2">Nee nog niet</label>
        </div>
      </div>
      <div class="question-navigation navigation-next text-right">
        <button class="next-button" (click)="sendQuestion()" [disabled]="!questionsForm.valid">
          Volgende
        </button>
      </div>
    </div>
    
    <div class="progress-bar">
      <div [ngStyle]="{'width': progressPercentage + '%'}"></div>
    </div>
  </form>
</div>
