<div *ngIf="questionPosition" id="application-container" class="fade-in">
  <form action="#" [formGroup]="questionForm">
    <!-- Question template -->
    <div class="question">
      <div class="question-navigation navigation-back">
        <button *ngIf="currentQuestion.previousQuestion" class="back-button" (click)="prevQuestion(currentQuestion.id)"><img src="./assets/img/application/back.svg" alt="Back"></button>
        <button *ngIf="!currentQuestion.previousQuestion" class="back-button" routerLink="/welcome"><img src="./assets/img/application/back.svg" alt="Back"></button>
      </div>
      <h1 class="question-title">{{ currentQuestion.question }}</h1>
      <div class="question-icon text-center">
        <img src="{{ currentQuestion.questionIcon }}">
      </div>
      <!-- Date question type -->
      <div *ngIf="currentQuestion.questionType == 'date'" class="question-content text-center">
        <select formControlName="birthYear" required>
          <option value="jaar" [selected]="true" disabled>Jaar</option>
          <option *ngFor="let i of years"
                  value="{{ i }}">
            {{ i }}
          </option>
        </select>
        <select formControlName="birthMonth" required>
          <option value="maand" [selected]="true" disabled>Maand</option>
          <option *ngFor="let i of month; let index = index"
                  value="{{ index + 1 }}">
            {{ i }}
          </option>
        </select>
        <select formControlName="birthDay" required>
          <option value="dag" [selected]="true" disabled>Dag</option>
          <option *ngFor="let i of days; let index = index"
                  value="{{ index + 1 }}">
            {{ index + 1 }}
          </option>
        </select>
      </div>
      
      <!-- Yes/No question type -->
      <div *ngIf="currentQuestion.questionType == 'yesNo'" class="question-content text-center">
        <div class="select-option">
          <input id="radio1"
                 type="radio"
                 name="answer"
                 formControlName="answer"
                 value="yes"
                 required
                 class="text-center">
          <label for="radio1">{{ currentQuestion.answer.yesText }}</label>
          <input id="radio2"
                 type="radio"
                 name="answer"
                 formControlName="answer"
                 value="no"
                 required
                 class="text-center">
          <label for="radio2">{{ currentQuestion.answer.noText }}</label>
        </div>
      </div>
      
      <!-- Multiple question type -->
      <div *ngIf="currentQuestion.questionType == 'multipleOne'" class="question-content text-center">
        <div class="select-option">
          <div *ngFor="let radio of currentQuestion.multiple; let i = index">
            <input id="radio{{ i + 3 }}"
                   type="checkbox"
                   name="answer"
                   formControlName="answer"
                   value="{{ currentQuestion.multiple[i] }}"
                   required
                   class="text-center">
            <label for="radio{{ i + 3 }}">{{ currentQuestion.multiple[i] }}</label>
          </div>
        </div>
      </div>
      <div class="question-navigation navigation-next text-right">
        <button class="next-button"
                (click)="sendQuestion()"
                [disabled]="!questionForm.valid">
          Volgende
        </button>
      </div>
    </div>
  </form>
  
  <div class="progress-bar">
    <div [ngStyle]="{'width': progressPercentage + '%'}"></div>
  </div>
</div>
