<div id="app-container">
  <div id="rewards">
    <div id="rewards-title">
      <button id="back-button" routerLink="/route-screen"><img src="./assets/img/application/back-white.svg" alt="Back"></button>
      <h1>Rewards</h1>
      <div class="align-center">
        <img src="./assets/img/application/group.svg" alt="PP"> <span>20</span>
      </div>
    </div>
    <div id="rewards-list">
      <div class="reward" *ngFor="let item of [].constructor(3)">
        <a href="#">
          <div class="header" [ngStyle]="{ 'background': 'url(https://placeimg.com/335/335/people)' }">
            <h1>Artis</h1>
            <div class="points">
              <span>20/20</span>
              <h2>City Pings</h2>
            </div>
            <div class="progress-bar">
              <div></div>
            </div>
          </div>
          <div class="footer">
            <h2>DAGJE NAAR ARTIS MET JE VRIENDEN</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
