<app-reward-popup [reward]="reward" *ngIf="showPopUp" (showPopup)="closePopup()"></app-reward-popup>
<div id="app-container">
  <div id="rewards">
    <div id="rewards-title">
      <button id="back-button" routerLink="/route-screen"><img src="./assets/img/application/back-white.svg" alt="Back"></button>
      <h1>Rewards</h1>
      <div class="align-center">
        <img src="./assets/img/application/group.svg" alt="PP"> <span>{{ user.city_pings }}</span>
      </div>
    </div>
    <div *ngIf="showRewards" id="rewards-list">
      <div class="reward"
           *ngFor="let reward of rewards"
           [ngClass]="{ 'out-of-stock': reward.left == 0 }">
        <a (click)="openRewardPopup(reward)">
          <div class="header" [style.backgroundImage]="'url(' + reward.picture + ')'">
            <img *ngIf="reward.claimed" src="./assets/img/application/city-pings-red.svg" alt="Claimed">
            <h1>{{ reward.title }}</h1>
            <div class="points">
              <span *ngIf="reward.claimed">{{ reward.cost }}</span>
              <span *ngIf="!reward.claimed">{{ user.city_pings }}/{{ reward.cost }}</span>
              <h2>City Pings</h2>
            </div>
            <div class="progress-bar">
              <div *ngIf="reward.claimed" [ngStyle]="{ 'width': '100%' }"></div>
              <div *ngIf="!reward.claimed" [ngStyle]="{ 'width': (100 * user.city_pings) / reward.cost + '%' }"></div>
            </div>
          </div>
          <div class="footer">
            <h2>{{ reward.description }}</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
