#rewards {
  #back-button {
    background: none;
    border: none;
    margin: 0;
    padding: 5px;
    cursor: pointer;
  }

  #rewards-title {
    background: #0d2036;
    padding: 20px;

    h1 {
      margin: 19px 0 5px 0;
      font-family: 'Heavitas', Arial;
      font-size: 2.3em;
      color: #ffffff;
    }

    .align-center {
      display: flex;
      align-items: center;
    }

    span {
      color: #fb9f00;
      font-size: 2.5em;
      margin-left: 20px;
      display: block;
      font-family: 'Heavitas';
    }
  }

  #rewards-list {
    padding: 30px;

    .reward {
      border-radius: 8px;
      box-shadow: 2px 2px 6px 1px rgba(166, 166, 166, 0.5);
      margin-bottom: 30px;
      overflow: hidden;
      position: relative;

      &.out-of-stock {
        opacity: 0.4;
      }

      .header {
        height: 335px;
        background-size: cover !important;
        position: relative;

        img {
          width: 25px;
          position: absolute;
          top: 15px;
          right: 15px;
        }

        h1 {
          margin: 0;
          padding: 20px;
          font-family: 'Heavitas';
          font-size: 2em;
          color: #ffffff;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        }

        .points {
          position: absolute;
          bottom: 0;
          padding: 20px;

          span,
          h2 {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            font-family: 'Heavitas';
            font-size: 1.3em;
            color: #ffffff;
            margin: 0;
          }
        }

        .progress-bar {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #7ed9ff;

          div {
            width: 20%;
            height: 8px;
            background: #3d97ff;
          }
        }
      }

      .footer {
        padding: 20px;

        h2 {
          margin: 0;
          font-family: 'Heavitas';
          font-size: 1.3em;
          color: #0d2036;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
