<app-reward-popup [reward]="reward" *ngIf="showPopUp" (showPopup)="closePopup()"></app-reward-popup>
<div id="app-container">
  <div id="rewards">
    <div id="rewards-title">
      <button id="back-button" routerLink="/route-screen"><img src="./assets/img/application/back-white.svg" alt="Back"></button>
      <h1>Rewards</h1>
      <div class="align-center">
        <img src="./assets/img/application/group.svg" alt="PP"> <span>20</span>
      </div>
    </div>
    <div id="rewards-list">
      <div class="reward" *ngFor="let reward of rewards">
        <a (click)="openRewardPopup(reward)">
          <div class="header" [ngStyle]="{ 'background': 'url(https://placeimg.com/335/335/people)' }">
            <img *ngIf="reward.claimed" src="./assets/img/application/city-pings-red.svg" alt="Claimed">
            <h1>{{ reward.title }}</h1>
            <div class="points">
              <span>20/{{ reward.cost }}</span>
              <h2>City Pings</h2>
            </div>
            <div class="progress-bar">
              <div></div>
            </div>
          </div>
          <div class="footer">
            <h2>{{ reward.description }}</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
