<app-task-popup *ngIf="showPopUp" [task]="task" (showPopup)="closePopup()"></app-task-popup>
<div id="app-container">
  <div id="task">
    <button id="back-button" routerLink="/route-screen"><img src="./assets/img/application/back-white.svg" alt="Back"></button>
    <div id="video-player">
      <iframe width="560" [src]="task.media" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div id="task-description">
      <h1>{{ task.name }}</h1>
      <div id="task-description-content" [innerHTML]="task.description"></div>
      <button (click)="completeTask()" [disabled]="disableAction" class="button button-orange">{{ task.check_task }}</button>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
