#task {
  #back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background: none;
    border: none;
    margin: 0;
    padding: 5px;
    cursor: pointer;
  }

  #video-player {
    background: #0d2036;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 0 0 0;

    iframe {
      min-height: 231px;
    }
  }

  #task-description {
    padding: 30px;
    font-family: 'Raleway', Arial;

    h1 {
      margin-top: 0;
      font-family: 'Heavitas', Arial;
      font-size: 1.5em;
    }

    a:not(.button) {
      color: #3d97ff;
    }

    .button {
      width: 100%;
      font-size: 0.9em;

      &:disabled {
        background: #e2e2e2;
      }
    }

    ul {
      margin: 30px 0 0 0;
      padding: 0;
      list-style: none;

      li {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 0 0 25px;
        line-height: 1.5em;
        background: url("../../../../../assets/img/application/oval.svg") 0 6px no-repeat;
      }
    }
  }
}
