<!--<app-side-nav></app-side-nav>-->
<header>
  <div id="logo" class="left">
    <a routerLink="/"><img src="./assets/img/ping-ping-logo.svg"></a>
  </div>
  <nav id="navigation" class="left">
    <ul>
      <li><a routerLink="/wat-is-het">Wat is het?</a></li>
      <li><a href="#">Jouw route</a></li>
      <li><a href="#">Voorwaardes</a></li>
      <li><a href="#">Support</a></li>
<!--      <li><a class="button button-orange button-sm" href="https://sketch.cloud/s/49zPo/4aPa24A/play" target="_blank">Aan de slag</a></li>-->
      <li><a class="button button-orange button-sm" routerLink="/route-questionnaire">Aan de slag</a></li>
    </ul>
  </nav>
  
  <button id="side-nav-trigger" class="show-on-mobile">
    <i class="fas fa-bars"></i>
  </button>
</header>
