header {
  max-width: 1200px;
  margin: 56px auto 50px auto;
  padding: 0 15px;
  overflow: hidden;

  #logo {
    width: 20%;
    height: 48px;

    img {
      width: 113px;
      height: 44px;
    }
  }

  #navigation {
    width: 80%;
    text-align: right;

    ul {
      margin: 6px 0 0 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        font-family: "Heavitas";
        font-size: 14px;
        margin-left: 50px;
        cursor: pointer;
        color: #ffffff;

        a:hover {
          border-bottom: 2px solid white;
        }
      }
    }
  }
}

@media all and (max-width: 1058px) {
  header {
    margin-top: 30px;

    #logo,
    #navigation {
      width: 100%;
      text-align: center;
    }

    #navigation {
      margin-top: 20px;

      ul {
        li:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

@media all and (max-width: 758px) {
  #logo {
    text-align: left !important;
  }

  #navigation {
    display: none;
  }

  #side-nav-trigger {
    position: absolute;
    right: 20px;
    top: 30px;
    color: #ffffff;
    background: none;
    padding: 5px;
    font-size: 1.7em;
    border: none;
    cursor: pointer;
  }

  .show-on-mobile {
    display: inherit;
  }
}
