<div id="app-container">
  <div id="start-route">
    <div id="start-route-title">
      <h1>Je route!</h1>
      <a href="#">Bekijk je route</a>
    </div>
    <div id="route-cards">
      <div id="route-cards-container">
        <div class="route-card">
          <div class="task-header">
            <div class="task-icon">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNyAyMWgtNHYtMTFoNHYxMXptNy0xMWgtNHYxMWg0di0xMXptNyAwaC00djExaDR2LTExem0yIDEyaC0yMnYyaDIydi0yem0tMjMtMTNoMjRsLTEyLTktMTIgOXoiLz48L3N2Zz4=">
            </div>
            <div class="task-points">
              20 City pings
            </div>
          </div>
          <div class="task-description">
            <h2>Digit Aanvragen</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur.
            </p>
          </div>
        </div>
        <div class="route-card">
          <div class="task-header">
            <div class="task-icon">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNyAyMWgtNHYtMTFoNHYxMXptNy0xMWgtNHYxMWg0di0xMXptNyAwaC00djExaDR2LTExem0yIDEyaC0yMnYyaDIydi0yem0tMjMtMTNoMjRsLTEyLTktMTIgOXoiLz48L3N2Zz4=">
            </div>
            <div class="task-points">
              20 City pings
            </div>
          </div>
          <div class="task-description">
            <h2>Digit Aanvragen</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur.
            </p>
          </div>
        </div>
        <div class="route-card">
          <div class="task-header">
            <div class="task-icon">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNyAyMWgtNHYtMTFoNHYxMXptNy0xMWgtNHYxMWg0di0xMXptNyAwaC00djExaDR2LTExem0yIDEyaC0yMnYyaDIydi0yem0tMjMtMTNoMjRsLTEyLTktMTIgOXoiLz48L3N2Zz4=">
            </div>
            <div class="task-points">
              20 City pings
            </div>
          </div>
          <div class="task-description">
            <h2>Digit Aanvragen</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="task-description">
      <h2>Waarom digid</h2>
      <p>
        Met je DigiD laat je online aan de overheid  en instanties zien dat jij bent wie je zegt dat je bent! Met je DigiD bewijs je online dat jij een Baas bent!
      </p>
      <a class="button button-orange" href="#">Maak je digid aan</a>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
