<div id="app-container">
  <div id="task">
    <button id="back-button" routerLink="/route-screen"><img src="./assets/img/application/back-white.svg" alt="Back"></button>
    <div id="video-player">
      <img src="./assets/img/application/play.svg" alt="Play">
    </div>
    <div id="task-description">
      <h1>Digid Aanmaken</h1>
      <p>
        Voor zaken die je regelt met de overheid hebt je een DigiD nodig.Met een DigiD laat je zien wie je bent. Net als met je ID of paspoort. Een DigiD heb je bijvoorbeeld nodig voor je belastingen.
      </p>
      <ul>
        <li>Hier kan je jouw DigiD aanvragen: <a href="#">https://digid.nl/aanvragen</a></li>
        <li>Je krijgt binnen 5 dagen een brief op je adres.</li>
        <li>In die brief staat een code. Dat is een tijdelijke code. Met die code kan je jouw eigen DigiD aanvragen.</li>
        <li>In de brief staat hoe je dat moet doen. Doe dat snel. Als je lang wacht, is de code niet meer geldig.</li>
      </ul>
      <a href="#" class="button button-orange">Mijn DIGID is aangemaakt</a>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
