<div id="app-container">
  <div id="task">
    <button id="back-button" routerLink="/route-screen"><img src="./assets/img/application/back-white.svg" alt="Back"></button>
    <div id="video-player">
      <img src="./assets/img/application/play.svg" alt="Play">
    </div>
    <div id="task-description">
      <h1>{{ task.name }}</h1>
      <p>
        {{ task.description }}
      </p>
      <ul>
        <li>1</li>
      </ul>
      <a href="#" class="button button-orange">Mijn DIGID is aangemaakt</a>
    </div>
  </div>
  <app-app-navigation></app-app-navigation>
</div>
