<app-side-nav></app-side-nav>
<div class="background">
  <div class="container">
    <app-header></app-header>
    
    <div class="body fade-in">
      <div class="container">
        <div id="what-is-it" class="border-rounded page-content">
          <h1>Wat is het?</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis commodi corporis provident, quaerat qui suscipit. Consectetur consequatur consequuntur deserunt distinctio dolorum eaque incidunt molestias natus nemo, nisi omnis sequi, veniam!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ducimus nulla odit perferendis porro recusandae saepe voluptatum. Adipisci alias animi beatae consequuntur debitis dicta labore nam quis velit? Ab adipisci illo iste? Delectus illum porro quas sint? Aliquam blanditiis ducimus impedit maxime modi optio perferendis placeat ut voluptas voluptatem. Aliquam ipsa nam quod.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
