<div class="background">
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="/"><img src="../../../assets/img/logo.png"/></a>
      </div>
      <div class="menu">
        <ul>
          <li>
			<!-- <div>
				<a href="/app"><button class="test-header-button">Probeer de app</button></a>
			  </div>
			</li> -->
        </ul>
      </div>
    </div>
    <div class="body what-is-it-container">
      <div id="video-player" class="video">
        <object data="https://www.youtube.com/embed/ZG0vCfivpQ8"> </object>
      </div>

      <div class="content">
        <h1 class="title">
          Wat is Ping Ping?
        </h1>
        <p>
          Op deze website gaan we er samen voor zorgen dat jij je basis op orde
          hebt. Dan hoef je daar geen zorgen meer over te maken en kan je leuke
          dingen gaan doen.
        </p>

        <!-- <div class="actions">
          <div>
            <a href="/app"><button>Probeer de app</button></a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
