/* Tipografy */
@font-face {
  font-family: "Heavitas";
  src: url("./assets/fonts/Heavitas.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
